@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body {
  background-color: #0293ee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 90%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-main {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.header-main .title {
  font-size: 2.3rem;
}

.header-main span {
  font-size: 2.3rem;
}

.add-form {
  display: flex;
  gap: 15px;
  width: 100%;
  margin-bottom: 50px;
}

input {
  width: 100%;
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
}

button[type="submit"] {
  background: #0293ee;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 10px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

td {
  color: #333;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

select {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #ebebeb;
}

select:hover {
  background-color: #ddd;
}

.btn-action {
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.btn-action:nth-child(1) {
  background-color: orange;
  margin-right: 5px;
}

.btn-action:nth-child(2) {
  background-color: rgba(237, 42, 42, 0.9);
  margin-right: 5px;
}

.bg-green {
  background-color: rgba(8, 232, 0, 0.6);
}

.bg-semi-green {
  background-color: rgba(169, 225, 14, 0.5);
}

.bg-yellow {
  background-color: rgba(255, 255, 0, 0.6);
}

@media (max-width: 454px) {
  * {
    font-size: 0.9rem;
  }

  body {
    padding: 8px;
  }

  main {
    width: 100%;
  }
}

@media (max-width: 340px) {
  * {
    font-size: 0.76rem;
  }
}
